<h1>ログイン</h1>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f|%>

<%=f.label :email%>
<%=f.email_field :email%>

<%=f.label :name  %>
<%=f.password_field :name %>

<%=f.submit "ログインする"%>
<% end %>
<%=link_to "ユーザー登録をする", new_user_path%>